<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Brandon Weiss</string>
	<key>Builder Version</key>
	<string>9537.71</string>
	<key>CFBundleDisplayName</key>
	<string>FoundersCard</string>
	<key>CFBundleIdentifier</key>
	<string>com.brandonweiss.founderscard</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleVersion</key>
	<string>1.0.0</string>
	<key>Chrome</key>
	<dict>
		<key>Database Quota</key>
		<real>1048576</real>
		<key>Global Page</key>
		<string>founders_card.html</string>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Command</key>
				<string></string>
				<key>Identifier</key>
				<string>founderscard</string>
				<key>Image</key>
				<string>toolbar_item_icon.png</string>
				<key>Include By Default</key>
				<true/>
				<key>Label</key>
				<string>FoundersCard</string>
			</dict>
		</array>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict/>
	</dict>
	<key>Description</key>
	<string>A Safari extension for FoundersCard.</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>http://brandonweiss.me/founderscard/manifest.plist</string>
	<key>Website</key>
	<string>http://brandonweiss.me/founderscard</string>
</dict>
</plist>
